<!DOCTYPE html>
<html xmlns:th=" http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
</head>
<body>

	<footer class="text-center bg-dark" th:fragment="footer">
		<div class="">
			<!-- Facebook -->
			<a class="btn btn-link btn-floating btn-lg m-1 text-light " href="#!"
				role="button" data-mdb-ripple-color="light"><i
				class="fab fa-facebook-f"></i></a>

			<!-- Twitter -->
			<a class="btn btn-link btn-floating btn-lg m-1 text-light " href="#!"
				role="button" data-mdb-ripple-color="dark"><i
				class="fab fa-twitter"></i></a>

			<!-- Instagram -->
			<a class="btn btn-link btn-floating btn-lg m-1 text-light " href="#!"
				role="button" data-mdb-ripple-color="dark"><i
				class="fab fa-instagram"></i></a>
		</div>
		<!-- Copyright -->
		<div class="text-center text-light">
			© 2021 <a class="text-light" href="#">Mundo Tecnológico</a>
		</div>
		<!-- Copyright -->
	</footer>
	
</body>
</html>