<!doctype html>
<html xmlns:th=" http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Detalle Usuario | Mundo Tecnológico</title>

<body>
	
	<div th:insert="fragmentos/header :: header"></div>
	
	<div class="contenido">
		<div class="contenedor_mantenimiento col-md-6 m-auto">
			<div class="card card-primary">

				<div class="card-header text-center">
					<h2 class="">Detalle del Usuario</h2>
				</div>
	
				<div class="card-body" th:object="${reg}">
					<dl class="dl-horizontal">
						<dt>CÓDIGO</dt>

						<dd th:text="${reg.codigo}"></dd>
	
						<dt>NOMBRE</dt>

						<dd th:text="${reg.nombre}"></dd>

						<dt>APELLIDOS</dt>

						<dd class="text-justify" th:text="${reg.apellidos}"></dd>

						<dt>CORREO</dt>

						<dd th:text="${reg.correo}"></dd>

						<dt>ESTADO</dt>

						<dd th:text="${reg.estado == 1} ? 'Activo': 'Eliminado'"></dd>

						<dt>TIPO</dt>

						<dd th:text="${reg.codigo_tipo_usuario == 'TPU0001' ? 'Administrador': 'Cliente'}"></dd>


					</dl>
					<div class="card-footer d-flex justify-content-center">
						<a th:href = "@{/usuario/editar/{codigo}(codigo = ${reg.codigo})}" class="btn btn-primary mr-5 col-sm-4">Editar Usuario</a> <a
							th:href="@{/usuario/listar}" class="btn btn-secondary col-sm-4">Volver
							al Listado</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div th:insert="fragmentos/header :: footer"></div>
</body>
</html>