<!doctype html>
<html xmlns:th=" http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Detalle Producto | Mundo Tecnológico</title>

<body>
	
	<div th:insert="fragmentos/header :: header"></div>
	
	<div class="contenido">
		<div class="contenedor_mantenimiento col-md-6 m-auto">
			<div class="card card-primary">

				<div class="card-header text-center">
					<h2 class="">Detalle del Producto</h2>
				</div>

				<div class="card-body" th:object="${reg}">
					<dl class="dl-horizontal">
						<dt>CÓDIGO</dt>

						<dd th:text="${reg.codigo}"></dd>

						<dt>FOTO</dt>

						<dd class="text-center">
							<img th:src="@{${reg.foto}}" class="img-fluid"/>
						</dd>

						<dt>NOMBRE</dt>

						<dd th:text="${reg.nombre}"></dd>

						<dt>DESCRIPCIÓN</dt>

						<dd class="text-justify" th:text="${reg.descripcion}"></dd>

						<dt>PRECIO</dt>

						<dd th:text="${reg.precio}"></dd>

						<dt>STOCK</dt>

						<dd th:text="${reg.stock}"></dd>

						<dt>MARCA</dt>

						<dd th:text="${reg.marca.nombre}"></dd>

						<dt>CATEGORÍA</dt>

						<dd th:text="${reg.categoria.nombre}"></dd>
				
						<dt>ESTADO</dt>

						<dd th:text="${reg.estado == 1} ? 'Activo': 'Eliminado'"></dd>

					</dl>
					<div class="card-footer d-flex justify-content-center">
						<a th:href = "@{/producto/editar/{codigo}(codigo = ${reg.codigo})}" class="btn btn-primary mr-5 col-sm-4">Editar Producto</a> <a
							th:href="@{/producto/listar}" class="btn btn-secondary col-sm-4">Volver
							al Listado</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div th:insert="fragmentos/footer :: footer"></div>
</body>
</html>