<!doctype html>
<html xmlns:th=" http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Editar Producto | Mundo Tecnológico</title>

<body>
	<div th:insert="fragmentos/header :: header"></div>
	
	<div class="contenido">
		<div class="container-fluid contenedor_mantenimiento">
			<div class="col-md-6 m-auto formulario_mantenimiento">
				<div class="card card-primary">
					<div class="card-header">
						<h3 class="card-title text-center">Editar Producto</h3>
					</div>
					<!-- /.card-header -->
					<!-- form start -->
					<form id="formularioProducto" th:object="${reg}" th:action="@{/producto/editar}" enctype="multipart/form-data" method="post">
						<div class="card-body">

							<div class="row m-auto  col-md-12">
								<input type="hidden" th:field="*{codigo}">
								<div class="form-group col-md-12">
									<label for="foto">Foto (<span>Solo seleccionar si desea cambiarla</span>)</label>
									<div class="custom-file">
										<input type="file" class="custom-file-input"
											accept="image/*" id="foto" name="fotoProducto"> <label
											class="custom-file-label" for="fotoProducto">Seleccionar
											archivo de imagen </label>
									</div>
								</div>

							</div>

							<div class="row m-auto  col-md-12">

								<div class="form-group col-md-12">
									<label for="nombre">Nombre</label> <input type="text"
										class="form-control" id="nombre" th:field="*{nombre}"
										placeholder="Ingrese el nombre del producto">
								</div>

							</div>

							<div class="row m-auto  col-md-12">

								<div class="form-group col-md-12">
									<label for="descripcionn">Descripción</label>
									<textarea required rows="5" class="form-control"
										id="descripcion" th:field="*{descripcion}"
										placeholder="Ingrese la descripción del producto"></textarea>
								</div>

							</div>

							<div class="row m-auto  col-md-12">

								<div class="form-group col-md-6">
									<label for="precio">Precio</label>
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text">S/.</span>
										</div>
										<input type="number" min="1" class="form-control"
											th:field="*{precio}" id="precio"
											placeholder="Ingrese el precio del producto">
									</div>
								</div>

								<div class="form-group col-md-6">
									<label for="stock">Stock</label> <input type="number" min="0"
										class="form-control" id="stock" th:field="*{stock}"
										placeholder="Ingrese el stock del producto">
								</div>

							</div>

							<div class="row m-auto  col-md-12">

								<div class="form-group col-md-4">
									<label for="marca">Marca</label> <select class="custom-select"
										id="marca" th:field="*{marca}">
										<option value="" selected>Seleccione</option>
										<option th:each="m :${listaMarcas}" th:value="${m.codigo}" th:text="${m.nombre}"></option>
									</select>
								</div>

								<div class="form-group col-md-4">
									<label for="categoria">Categoría</label> <select class="custom-select"
										id="categoria" th:field="*{categoria}">
										<option value="" selected>Seleccione</option>
										<option th:each="m :${listaCategorias}" th:value="${m.codigo}" th:text="${m.nombre}"></option>
									</select>
								</div>

								<div class="form-group col-md-4">
									<label for="estado">Estado</label> <select
										class="custom-select" id="estado" th:field="*{estado}">
										<option th:value="0" th:text="Seleccione" th:selected="true"
											disabled="disabled" />
										<option th:value="1" th:text="Activo" th:selected="false" />
										<option th:value="2" th:text="Eliminado" th:selected="false" />
									</select>
								</div>

							</div>

						</div>
						<!-- /.card-body -->
						<div class="card-footer d-flex justify-content-center">
							<button type="submit" class="btn btn-success mr-5">Actualizar
								Producto</button>
							<a th:href="@{/producto/listar}" class="btn btn-secondary">Volver al
								Listado</a>
						</div>
					</form>
				</div>
				<!-- /.card -->
			</div>
		</div>
		<!-- /.container-fluid -->
	</div>
	
	<div th:insert="fragmentos/footer :: footer"></div>
	
		<script type="text/javascript">
	$('.custom-file-input').on('change', function (event) {
	    var inputFile = event.currentTarget;
	    $(inputFile).parent()
	        .find('.custom-file-label')
	        .html(inputFile.files[0].name);
	}); 
	</script>
</body>
</html>