<!doctype html>
<html xmlns:th=" http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Listado de Marcas | Mundo Tecnológico</title>

</head>
<body>

	<div th:insert="fragmentos/header :: header"></div>

	<div class="contenido">

		<div class="contenedor_mantenimiento col-md-6 m-auto">
			<div class="card card-primary">
				<div class="card-header text-center">
					<h2 class="">Listado de Marcas</h2>
					<a th:href="@{registrar}" class="btn btn-primary">Nuevo
						Registro</a>
				</div>

				<div class="card-body">
					<table id="dataTable"
						class="table table-sm table-hover dt-responsive wrap"
						style="width: 100%">
						<thead>
							<tr>
								<th>CÓDIGO</th>
								<th>NOMBRE</th>
								<th>ESTADO</th>
								<th></th>
							</tr>
						</thead>
						<tbody>

							<tr th:each="m :${listaMarcas}">
								<td th:text="${m.codigo}"></td>
								<td th:text="${m.nombre}"></td>
								<td th:text="${m.estado == 1} ? 'Activo' : 'Eliminado'" />
								<td class="text-center"><a
									th:href="@{editar/{codigo}(codigo = ${m.codigo})}"><i
										class="fas fa-edit"></i></a> <a th:href="@{/marca/detalle/{codigo}(codigo=${m.codigo})}" style="color: green"><i
										class="fas fa-info-circle"></i></a><a href="#" style="color: red"
									th:onclick="'javascript:ConfirmarDelete(event,\'' + ${m.numeroCodigo} + '\')'">
										<i class="fas fa-trash-alt"></i>
								</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

	</div>

	<div th:insert="fragmentos/footer :: footer"></div>

</body>
</html>