<!doctype html>
<html xmlns:th=" http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Listado de Categorías | Mundo Tecnológico</title>

</head>
<body>

	<div th:insert="fragmentos/header :: header"></div>

	<div class="contenido">

		<div class="contenedor_mantenimiento col-md-6 m-auto">
			<div class="card card-primary">

				<div class="card-header text-center">
					<h2 class="">Listado de Categorias</h2>
					<a th:href=@{/categoria/registrar} class="btn btn-primary">Nuevo
						Registro</a>
				</div>
				<div class="card-body">
				
					<table id="dataTable"
						class="table table-sm table-hover dt-responsive wrap"
						style="width: 100%">
						<thead>
							<tr>
								<th style="width: 20%;">Código</th>
								<th class="wrap" style="width: 40%;">Nombre</th>
								<th style="width: 15%;">Estado</th>
								<th style="width: 25%;">Operaciones</th>
							</tr>
						</thead>
						<tbody>
							
							<tr th:each="c: ${listaCategorias}">
								<td th:text="${c.codigo}"></td>
								<td th:text="${c.nombre}"></td>
								<td th:text="${c.estado == 1} ? 'Activo' : 'Eliminado'"></td>
								<td class="text-center">
									<a th:href="@{/categoria/editar/{codigo}(codigo=${c.codigo})}">
										<i class="fas fa-edit"></i>
									</a>
									<a style="color: green" th:href=@{/categoria/detalle/{codigo}(codigo=${c.codigo})}>
										<i class="fas fa-info-circle"></i>
									</a> 
									<a href="#" style="color: red" th:onclick="'ConfirmarDelete(event,\'' + ${c.numeroCodigo} + '\')'"> 
										<i class="fas fa-trash-alt"></i>
									</a>
								</td>
							</tr>

						</tbody>

					</table>
				</div>
			</div>
		</div>
	</div>

	<div th:insert="fragmentos/footer :: footer"></div>

</body>
</html>
