<!doctype html>
<html xmlns:th=" http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Listado de Productos | Mundo Tecnológico</title>

</head>
<body>

	<div th:insert="fragmentos/header :: header"></div>

	<div class="contenido">

		<div class="contenedor_mantenimiento col-md-11 m-auto">
			<div class="card card-primary">

				<div class="card-header text-center">
					<h2 class="">Listado de Productos</h2>
					<a th:href="@{/producto/registrar}" class="btn btn-primary">Nuevo
						Registro</a>
				</div>

				<div class="card-body">
					<div th:classappend="'text alert alert-' + (${clase})"
						th:if="${mensaje}" role="alert">
						<strong th:text="${mensaje}"></strong>
					</div>
					<table id="dataTable"
						class="table table-sm table-hover dt-responsive wrap"
						style="width: 100%">
						<thead>
							<tr>
								<th style="width: 5%;">CÓDIGO</th>
								<th style="width: 5%">FOTO</th>
								<th class="wrap" style="width: 48%;">NOMBRE</th>
								<th style="width: 5%;">PRECIO</th>
								<th style="width: 5%;">STOCK</th>
								<th style="width: 5%;">MARCA</th>
								<th style="width: 12%;">CATEGORÍA</th>
								<th style="width: 5%;">ESTADO</th>
								<th style="width: 10%;">OPERACIONES</th>
							</tr>
						</thead>
						<tbody>

							<tr th:each="p :${listaProductos}">
								<td th:text="${p.codigo}"></td>
								<td><a class="popUpImage" th:href="${p.foto}">Ver Foto</a></td>
								<td th:text="${p.nombre}"></td>
								<td th:text="${p.precio}"></td>
								<td th:text="${p.stock}"></td>
								<td th:text="${p.marca.nombre}"></td>
								<td th:text="${p.categoria.nombre}"></td>
								<td th:text="${p.estado == 1} ? 'Activo' : 'Eliminado'" />
								<td class="text-center"><a
									th:href="@{editar/{codigo}(codigo = ${p.codigo})}"> <i
										class="fas fa-edit"></i>
								</a> <a
									th:href="@{/producto/detalle/{codigo}(codigo = ${p.codigo})}"
									style="color: green"> <i class="fas fa-info-circle"></i>
								</a> <a href="#" style="color: red"
									th:onclick="'ConfirmarDelete(event,\'' + ${p.numeroCodigo} + '\')'">
										<i class="fas fa-trash-alt"></i>
								</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<div class="modal fade" tabindex="-1">
				<div class="modal-dialog modal-md modal-dialog-centered">
					<div class="modal-content">
						<img src="" class="foto">
					</div>
				</div>
			</div>
		</div>

	</div>

	<div th:insert="fragmentos/footer :: footer"></div>
</body>
</html>
