<!DOCTYPE html>
<html xmlns:th=" http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Nosotros | Mundo Tecnológico</title>
</head>
<body>

	<div th:insert="fragmentos/header :: header"></div>

	<div class="contenido">

		<div class="contenedor_nosotros m-auto">

			<div class="row fila_nosotros d-flex flex-wrap align-items-center">
				<div class="col-sm-5">
					<img class="imagen" src="/img/logo.png">
				</div>
				<div class="col-sm-7 text-center">
					<h2>¿Quiénes Somos?</h2>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
						Velit quos nostrum deserunt cupiditate sapiente incidunt eius
						praesentium voluptates similique explicabo.</p>
				</div>
			</div>

			<br>
			<div class="row fila_nosotros d-flex flex-wrap align-items-center">
				<div class="col-sm-7 text-center">
					<h2>Nuestra Misión</h2>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
						Velit quos nostrum deserunt cupiditate sapiente incidunt eius
						praesentium voluptates similique explicabo.</p>
				</div>
				<div class="col-sm-5">
					<img class="imagen" src="/img/mision.png">
				</div>
			</div>

			<br>

			<div class="row fila_nosotros d-flex flex-wrap align-items-center">
				<div class="col-sm-5">
					<img class="imagen" src="/img/vision.png">
				</div>
				<div class="col-sm-7 text-center">
					<h2>Nuestra Vsión</h2>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
						Velit quos nostrum deserunt cupiditate sapiente incidunt eius
						praesentium voluptates similique explicabo.</p>
				</div>

			</div>
		</div>

	</div>

	<div th:insert="fragmentos/footer :: footer"></div>

</body>
</html>