<!doctype html>
<html xmlns:th=" http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Registrar Categoría | Mundo Tecnológico</title>

<body>
	<div th:insert="fragmentos/header :: header"></div>
	
	<div class="contenido">
		<div class="container-fluid contenedor_mantenimiento">
			<div class="col-md-6 m-auto formulario_mantenimiento">
				<div class="card card-primary">
					<div class="card-header">
						<h3 class="card-title text-center">Registrar Categoría</h3>
					</div>
					<!-- /.card-header -->
					<!-- form start -->
					<form id="formularioCategoria" th:object="${reg}" th:action="@{/categoria/registrar}" method="post">
						<div class="card-body">

							<div class="row m-auto  col-md-12">

								<div class="form-group col-md-12">
									<label for="nombre">Nombre</label> <input type="text"
										class="form-control" id="nombre" th:field="*{nombre}"
										placeholder="Ingrese el nombre del producto">
								</div>

							</div>

							<div class="row m-auto  col-md-12">

								<div class="form-group col-md-12">
									<label for="estado">Estado</label> <select
										class="custom-select" id="estado" th:field="*{estado}">
										<option th:value="0" th:text="Seleccione" th:selected="true"
											disabled="disabled" />
										<option th:value="1" th:text="Activo" th:selected="false" />
										<option th:value="2" th:text="Eliminado" th:selected="false" />
									</select>
								</div>

							</div>

						</div>
						<!-- /.card-body -->
						<div class="card-footer d-flex justify-content-center">
							<button type="submit" class="btn btn-success mr-5">Registrar
								Categoria</button>
							<a th:href="@{/categoria/listar}" class="btn btn-secondary">Volver al
								Listado</a>
						</div>
					</form>
				</div>
				<!-- /.card -->
			</div>
		</div>
		<!-- /.container-fluid -->
	</div>
	
	<div th:insert="fragmentos/footer :: footer"></div>
</body>
</html>